USE [master]
GO
/****** Object:  Database [OOAD]    Script Date: 1/11/2018 11:31:01 PM ******/
CREATE DATABASE [OOAD]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'OOAD', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.VIET\MSSQL\DATA\OOAD.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'OOAD_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.VIET\MSSQL\DATA\OOAD_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [OOAD].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [OOAD]
GO
/****** Object:  Table [dbo].[BANGTHAMSO]    Script Date: 1/11/2018 11:31:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BANGTHAMSO](
	[MATHAMSO] [int] NULL,
	[THAMSO] [bigint] NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BAOCAO]    Script Date: 1/11/2018 11:31:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAO](
	[MABAOCAO] [int] NOT NULL,
	[THANGBAOCAO] [int] NULL,
	[NGAYLAP] [date] NULL,
	[LOAIBAOCAO] [nvarchar](max) NULL,
	[NAMBAOCAO] [int] NULL,
 CONSTRAINT [PK_BAOCAO] PRIMARY KEY CLUSTERED 
(
	[MABAOCAO] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BAOCAOCONGNOCUAHANG]    Script Date: 1/11/2018 11:31:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAOCONGNOCUAHANG](
	[MABAOCAOCONGNOKHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[MABAOCAO] [int] NULL,
	[MANHACUNGCAP] [int] NULL,
	[SOTIENNO] [bigint] NULL,
 CONSTRAINT [PK_BAOCAOCONGNOCUAHANG] PRIMARY KEY CLUSTERED 
(
	[MABAOCAOCONGNOKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BAOCAOCONGNOKHACHHANG]    Script Date: 1/11/2018 11:31:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAOCONGNOKHACHHANG](
	[MABAOCAOCONNOKHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[MABAOCAO] [int] NULL,
	[MAKHACHHANG] [int] NULL,
	[SOTIENNO] [bigint] NULL,
	[SONGAYNO] [bigint] NULL,
	[NGAYTHANHTOANGANNHAT] [date] NULL,
 CONSTRAINT [PK_BAOCAOCONGNOKHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MABAOCAOCONNOKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BAOCAODOANHTHU]    Script Date: 1/11/2018 11:31:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAODOANHTHU](
	[MABAOCAODOANHTHU] [int] IDENTITY(1,1) NOT NULL,
	[TONGSOHOADONTRONGTHANG] [int] NULL,
	[TONGDOANHTHU] [bigint] NULL,
 CONSTRAINT [PK_BAOCAODOANHTHU] PRIMARY KEY CLUSTERED 
(
	[MABAOCAODOANHTHU] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[BAOCAOTON]    Script Date: 1/11/2018 11:31:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BAOCAOTON](
	[MABAOCAOTON] [int] IDENTITY(1,1) NOT NULL,
	[MABAOCAO] [int] NULL,
	[MASANPHAM] [int] NULL,
	[SOLUONGTONDAUTHANG] [int] NULL,
	[SOLUONGTONCUOITHANG] [int] NULL,
	[SOLUONGNHAPTRONGTHANG] [int] NULL,
	[SOLUONGBANRATRONGTHANG] [int] NULL,
 CONSTRAINT [PK_BAOCAOTON] PRIMARY KEY CLUSTERED 
(
	[MABAOCAOTON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETHOADON]    Script Date: 1/11/2018 11:31:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETHOADON](
	[MACHITIETHOADON] [int] IDENTITY(1,1) NOT NULL,
	[MAHOADON] [int] NULL,
	[MASANPHAM] [int] NULL,
	[SOLUONGSANPHAM] [int] NULL,
	[MADONVITINH] [int] NULL,
	[THANHTIEN] [bigint] NULL,
 CONSTRAINT [PK_CHITIETHOADON] PRIMARY KEY CLUSTERED 
(
	[MACHITIETHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHITIETPHIEUNHAP]    Script Date: 1/11/2018 11:31:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHITIETPHIEUNHAP](
	[MACHITIETPHIEUNHAP] [int] IDENTITY(1,1) NOT NULL,
	[MAPHIEUNHAP] [int] NULL,
	[MASANPHAM] [int] NULL,
	[GIANHAP] [bigint] NULL,
	[SOLUONGNHAPTHEOCHUNGTU] [int] NULL,
	[SOLUONGNHAPTHUCTE] [int] NULL,
	[MADONVITINH] [int] NULL,
 CONSTRAINT [PK_CHITIETPHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MACHITIETPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CHTIETPHIEUXUAT]    Script Date: 1/11/2018 11:31:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHTIETPHIEUXUAT](
	[MACHITIETPHIEUXUAT] [int] IDENTITY(1,1) NOT NULL,
	[MAPHIEUXUAT] [int] NULL,
	[MASANPHAM] [int] NULL,
	[GIABAN] [bigint] NULL,
	[SOLUONGXUAT] [int] NULL,
	[TONGTIEN] [bigint] NULL,
	[SOLUONGCONLAITRONGDONHANG] [int] NULL,
	[MADONVITINH] [int] NULL,
 CONSTRAINT [PK_CHTIETPHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[MACHITIETPHIEUXUAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[DONVI]    Script Date: 1/11/2018 11:31:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONVI](
	[MADONVITINH] [int] IDENTITY(1,1) NOT NULL,
	[TENDONVITINH] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[MADONVITINH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[HOADON]    Script Date: 1/11/2018 11:31:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HOADON](
	[MAHOADON] [int] IDENTITY(1,1) NOT NULL,
	[MAKHACHHANG] [int] NULL,
	[NGAYNHAP] [date] NULL,
	[TONGTIEN] [bigint] NULL,
	[THUEVAT] [bit] NULL,
 CONSTRAINT [PK_HOADON] PRIMARY KEY CLUSTERED 
(
	[MAHOADON] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 1/11/2018 11:31:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKHACHHANG] [int] IDENTITY(1,1) NOT NULL,
	[TENKHACHHANG] [nvarchar](max) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[SODIENTHOAI] [varchar](20) NULL,
	[CONGNO] [bigint] NULL,
 CONSTRAINT [PK_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKHACHHANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHACUNGCAP]    Script Date: 1/11/2018 11:31:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHACUNGCAP](
	[MANHACUNGCAP] [int] IDENTITY(1,1) NOT NULL,
	[TENNHACUNGCAP] [nvarchar](max) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[EMAIL] [varchar](max) NULL,
	[SODIENTHOAI] [varchar](20) NULL,
	[MASOTHUE] [varchar](20) NULL,
	[CONGNO] [bigint] NULL,
	[ISACTIVE] [int] NULL DEFAULT ((1)),
 CONSTRAINT [PK_NHACUNGCAP] PRIMARY KEY CLUSTERED 
(
	[MANHACUNGCAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[NHANVIEN]    Script Date: 1/11/2018 11:31:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[NHANVIEN](
	[MANHANVIEN] [int] IDENTITY(1,1) NOT NULL,
	[USERNAME] [varchar](50) NULL,
	[PASSWORD] [varchar](50) NULL DEFAULT ('123456'),
	[TENNHANVIEN] [nvarchar](max) NULL,
	[NGAYSINH] [date] NULL,
	[BOPHAN] [nvarchar](max) NULL,
	[SODIENTHOAI] [varchar](50) NULL,
	[DIACHI] [nvarchar](max) NULL,
	[ISACTIVE] [int] NULL DEFAULT ('1'),
 CONSTRAINT [PK_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MANHANVIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[PHIEUNHAP]    Script Date: 1/11/2018 11:31:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAP](
	[MAPHIEUNHAP] [int] IDENTITY(1,1) NOT NULL,
	[MAPHIEUGIAOHANG] [int] NULL,
	[NGAYNHAP] [date] NULL,
	[MANHACUNGCAP] [int] NULL,
	[TONGTIENHOADON] [bigint] NULL,
	[SOTIENDATHANHTOAN] [bigint] NULL,
 CONSTRAINT [PK_PHIEUNHAP] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNHAP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUTHUTIEN]    Script Date: 1/11/2018 11:31:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUTHUTIEN](
	[MAPHIEUTHUTIEN] [int] IDENTITY(1,1) NOT NULL,
	[MAKHACHHANG] [int] NULL,
	[NGAYLAP] [date] NULL,
	[TONGTIENHOADON] [bigint] NULL,
	[SOTIENDATHU] [bigint] NULL,
 CONSTRAINT [PK_PHIEUTHUTIEN] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUTHUTIEN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PHIEUXUAT]    Script Date: 1/11/2018 11:31:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUXUAT](
	[MAPHIEUXUAT] [int] IDENTITY(1,1) NOT NULL,
	[NGAYXUAT] [date] NULL,
	[MAHOADON] [int] NULL,
	[TONGTIEN] [bigint] NULL,
	[NGUOIGIAOHANG] [nvarchar](max) NULL,
 CONSTRAINT [PK_PHIEUXUAT] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUXUAT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 1/11/2018 11:31:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASANPHAM] [int] IDENTITY(1,1) NOT NULL,
	[TENSANPHAM] [nvarchar](max) NULL,
	[SOLUONGTONTOITHIEU] [int] NULL,
	[SOLUONG] [int] NULL,
	[SOLUONGBANSITOITHIEU] [int] NULL,
	[GIABANSI] [bigint] NULL,
	[GIABANLE] [bigint] NULL,
	[MADONVITINHBANSI] [int] NULL,
	[MADONVITINHBANLE] [int] NULL,
	[MANHACUNGCAP] [int] NULL,
	[ISACTIVE] [int] NULL DEFAULT ((1)),
PRIMARY KEY CLUSTERED 
(
	[MASANPHAM] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  StoredProcedure [dbo].[GetRuleByUsername]    Script Date: 1/11/2018 11:31:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetRuleByUsername]
@Username nvarchar(max)
as
declare @rule int
select @rule=BOPHAN from NHANVIEN nv where nv.USERNAME=@Username
GO
/****** Object:  StoredProcedure [dbo].[GetUserByUsername]    Script Date: 1/11/2018 11:31:01 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create proc [dbo].[GetUserByUsername]
@Username nvarchar(max),
@password nchar(50)
as

select * from NHANVIEN nv where nv.USERNAME=@Username and nv.PASSWORD=@password
GO
USE [master]
GO
